/* menu CSS */

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-black);
    padding: 50px 10px;
}

.mini_title {
    margin-top: 25px;
    font-size: 16px;
    color: var(--green-primary);
    text-transform: capitalize;
}

.title {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--dark-blue);
    margin-bottom: 25px;
    text-align: center;
}

.dishes {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
}

.dishes .dish {
    height: 280px;
    width: 30%;
    background-color: var(--white);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 35px;
    transition: 0.5s;
    box-shadow: 0 0 10px var(--gray-shadow);
}

.dishes .dish img {
    width: 130px;
    height: 120px;
    margin-bottom: 15px;
    cursor: pointer;
}

.dishes .dish p {
    text-align: center;
    font-size: 18px;
}

.dishes .dish button {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: 0;
    background-color: var(--green-primary);
    padding: 5px 60px;
    color: var(--white);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


@media (max-width: 964px) {
    #menu .dishes .dish {
        width: 90%;
        /* max-width: 260px; */
    }
}