/* hero CSS */

#hero {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: calc(100vh - 50px);
    justify-content: space-between;
}

#hero .left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero .left h4 {
    font-size: 20px;
    color: var(--green-primary);
}

#hero h1.big-title {
    font-size: 40px;
}

#hero .left p {
    font-size: 12px;
    color: var(--gray);
}

#hero .left button {
    margin-top: 20px;
    width: fit-content;
    padding: 5px 10px;
    background-color: var(--black-primary);
    border: 0;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

#hero .left button a {
    text-decoration: 0;
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

#hero .left button::before {
    position: absolute;
    left: 5px;
    top: 5px;
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: var(--green-primary);
}

#hero .left button:hover a {
    letter-spacing: 1px;
}

#hero .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .right img {
    width: 100%;
    animation: animate 2s linear;
    transition: 0.5s;
}

@media (max-width: 964px) {
	#hero {
		flex-direction: column;
		padding: 12px;
		height: fit-content;
	}

	#hero .left,
	#hero .right {
		width: 100%;
		padding: 0;
	}

	#hero .left {
		margin: 100px 0;
	}

	#hero .left h1 {
		font-size: 20px;
		margin-bottom: 15px;
	}

	#hero .left h4 {
		font-size: 15px;
	}

	#hero .left p {
		font-size: 15px;
	}
}
